/* print - a small css library for printing webpages
 * similar to Gutenberg, but different.
 * With the goal to make it very costumizable.
 * 
 * v0.0.1 (insert date here)
 */

@page {
  width: 66ch;
}

pre,
blockquote {
  break-inside: avoid;
}

a[href]:after {
  content: " (" attr(href) ")";
}

/* hide the elements we do not want to see on the website */
.print--hidden {
  display: none;
}

.print--pagenum {
  @page: right {
    @bottom-right {
      content: counter(page);
    }
  }

  @page: left {
    @bottom-left {
      content: counter(page);
    }
  }
}
